.search {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.search select{
    padding: 10px 10px;
    border: none;
    outline: none !important;
    background: transparent;
    border: 1px solid white;
    box-shadow: 0 0 5px grey;
    font-size: 15px;
    display: block;
    margin-left: 10px;
}

