.bar-chart {  
    background-color: transparent;  
}

rect{
  fill: blue;
  margin-right: 10px;
  display: inline-block;
  
}



.month-container, .temp-container{
  display: flex;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
}

.temp-container{
  font-size: 15px;
  justify-content: space-around;
}



.chart .title{
  text-align: center;
  margin-bottom: 30px;
}
